body {
    background-color: black;
}

header img {
    width: 100%;
}

nav {
    background-color: #D6D6D6;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;

}

nav a {
    font-family: 'Michroma', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 250%;
    letter-spacing: 2px;
    
}

nav a:hover {
    color: #840181;
}

.welcome-bar img {
    width: 100%;
}

.welcome-bar {
    background-color: white;
}

.homepage-content img {
    width: 100%;
}

.homepage-content {
    background-color: #957995;
}

.footer img {
    width: 100%;
}